@charset "UTF-8";
/* CSS Document */
main{
  margin: 0 auto;
	width: 60%;
	height: auto;
}
.svg{
  width: 100%;
  display: block;
 
}
.svg h1{
	font-size: 60px;
	text-align:center;
}
.svg ul{
	margin-top: 100px; 
}
.svg  ul li {

  display: block;
  width: 100px;
  float: left;
  margin-bottom: 50px;
  margin-right: 50px;
  transition: width .75s;
  list-style: none;
  border-radius: 10px;
  
	
}


.svg  ul li:hover {
  width: 200px;
  color: red;
  background-color: #5AE4D5;
  box-shadow: 3px 5px #888888;
}

